.vscode/**
.vscode-test/**
test/**
.gitignore
js
config.json
vsc-extension-quickstart.md
.eslintrc.json
.shadow-cljs/**
src/**
shadow-cljs.edn
.idea/**
demo/**
*.vsix
node_modules/
dev/
resources/
build.clj
