{:source-paths ["src/main"]

 :dependencies
 [[cljs-node-io "1.1.2"]
  [kitchen-async "0.1.0-SNAPSHOT"]
  [appliedscience/js-interop "0.1.20"]]

 :builds
 {:extension
  {:target :node-library
   :output-to "extension.js"
   :exports
   {:activate talky.core/activate
    :deactivate talky.core/deactivate}}}}
