{:source-paths ["src/main"]

 :dependencies
 [[fipp "0.6.18"]]

 :builds
 {:extension
  {:target :node-library
   :output-to "extension.js"
   :exports
   {:activate talky.core/activate
    :deactivate talky.core/deactivate}}}}
